.pushDown{
	height: 50px;
}

.quizitLeft, .quizitRight, .quizitCenter{
	height: calc(100vh - 50px);
}

.quizitLeft,.quizitRight{

}

.quizitLeft{

}

.quizitRight{
	padding: 0px;
	margin: 0px;
}

.quizitCenter{
	padding-right: 10%;
	padding-left: 10%;
}

.quizitPlayground{
	margin: auto;
	background-color: #EEEEEE;
	padding:5vh;
	width: 90vh;
	border-radius: 30px;
	filter: drop-shadow(-1px 0 2px #222222);
	/*Useful for now to keep the box from shrinking too much*/
	min-height: 70vh;
}

.vh-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
}

.quizitPlaygroundTop{
	/*height: 60vh;*/
}

.quizitPlaygroundBottom{
	/*height: 10vh;*/
	margin-top: 2vh;
	/*margin-bottom: 2vh;*/
}

body, html {
	background-color: #AFBBF2;
	/*background-color: #D3FFF3;*/

}	

.browser-container{
	background-image: url('extra_clean_paper.png');	
}

.mobile-container{
	/*width: 100vw;*/
	height: 100vh;
	margin: 0px;
	padding-top: 60px;
	/*padding: 1%;*/
	background-color: #AFBBF2;
	/*color: #1F2041;*/
	z-index: 1;
	overflow-y: auto;
}

.mobile-top-banner-text{
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-size: 7vw;
	height: 10vw;
	font-weight: 700;
	background-color: #9649CB;
	color: #D3FFF3;
}

.mobile-landscape-detector{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 999;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 10%;
	display: none;
}

@media (min-aspect-ratio: 3/2) {
	.mobile-landscape-detector{
		display: block;
	}
}