.mobile-leaderboard-wrapper{
}

.mobile-leaderboard-div{
	width: 100%;
	height: 8vh;
	background-color: white;
	border: 1px grey solid;
	padding: 0px;
}

.mobile-leaderboard-name,.mobile-leaderboard-score{
	margin-top: 2vh;
	line-height: 4vh;
	font-size: 4vh;
}

.mobile-leaderboard-name{
	float: left;
	margin-left: 5px;
}

.mobile-leaderboard-score{
	float: right;
	margin-right: 5px;
}

.mobile-no-scores{
	margin-top: 10px;
}