.mobile-swipeGuide{
	position: fixed;
	bottom: 20px;
	width: 100%;
	padding: 0px 5px;
}

.mobile-swipeGuide-left{
	float: left;
}

.mobile-swipeGuide-right{
	float: right;
}

.mobile-profile-smol-top-margin{
	margin-top: 1
}